@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply border-cyan-400
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    z-index: -1;
  }
  
/* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #d8d8d8;
opacity: 10px;
border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb:hover{
background:  #c9c9c9;
opacity: 10px;
border-radius: 10px;
}

body {
  height: 100vh;
  background-color: black; /* Añade esta línea */
}


.rec.rec-arrow {
  background-color: rgb(53, 57, 57);
  color: aqua;
  forced-color-adjust: cyan;
  
}

.rec.rec-arrow:hover {
  background-color: #3b3e3e;
  color: cyan;
  padding-bottom: cyan;
  forced-color-adjust: cyan;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
  
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: 0 0 0 2px cyan;
  forced-color-adjust: cyan;
  background-color: #eaeaea;
}


 .rec-arrow {
                    background-color:  cyan  !important; /* Fondo negro */
                    color: rgb(196, 197, 198)!important; /* Icono/flecha cian */
                    border-radius: 50% !important; /* Hace los botones redondos */
                    transition: all 0.3s ease; /* Transición suave para hover */
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
                }

                .rec-arrow:hover:not(:disabled) {
                    background-color:  rgb(234, 240, 242) !important; /* Cian más oscuro al hacer hover */
                    color:  #00fff7! important; /* Icono blanco al hacer hover */
                    transform: scale(1.1); /* Efecto de "agrandar" al hacer hover */
                }

                .rec-arrow:disabled {
                    opacity: 0.5; /* Reduce la opacidad de las flechas deshabilitadas */
                    cursor: not-allowed;
                }

                /* Puedes ajustar el tamaño de las flechas si lo necesitas */
                .rec-arrow {
                    width: 600px; /* Ancho del botón */
                    height: 600px; /* Altura del botón */
                    font-size: 1.5rem; /* Tamaño de la flecha */
                }


  